# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: cc67765fa5855b66f0bcf2a7bca32d724981b30425730d0a9edc7319335503b515cab9c12b275be95fb9c23cabbb8147db40fcc49be4097809be81092b0a4f3a

test:
  secret_key_base: 4f35660722588d908c07864a3a7c48c76d0301506c2491f2083a8795f6926691a541278c3efc72ecc0f511c8720a210f6d896c36aaa40d6314b3adcef9c9bb4d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: bf3daac2ea3c6ad32072ee7833b5dbfbdd9d8e1de539bc5d99ee40bdbe693afca2d6af2351dfc5332fadc11956219893e60545a602047d90142367351b50ff6a
